{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Actualizar una publicación{% endblock %}</h2>
{% endblock %}

{% block content %}

    <form method="POST">
        <label>Título</label>
        <input type="text" name="title" id="username" value="{{ post.title }}" required>

        <label for="body">Contenido</label>
        <textarea name="content" id="body" required rows="10">{{ post.content }}</textarea>

        <input type="submit" value="Guardar">
    </form>


{% endblock %}